MONGO_ROOT_PASSWORD=change-this-root-password
MONGO_APP_USERNAME=audio_pipeline
MONGO_APP_PASSWORD=change-this-application-password
RABBITMQ_USER=audio_pipeline
RABBITMQ_PASSWORD=change-this-rabbitmq-password
RABBITMQ_MANAGEMENT_PORT=15673
HF_TOKEN=
AUDIO_PIPELINE_JOB_LEASE_SECONDS=3600
AUDIO_PIPELINE_MODE=rabbit
AUDIO_PIPELINE_GPU_PROFILE=balanced
AUDIO_PIPELINE_OLLAMA_HOST=http://host.docker.internal:11434
